            <section id = "card-form-container">
               <h2 class="segment-title fw-300"> CONTACT US </h2>
               <span class="border"></span>
               <div class = "card-form-inner-home clear">
                  <div id="card-container">
                     <div id="profile-image">
                        <!--               <img src="media/headshot.jpg" class="headshotForm"> -->
                        <img src="media/JaniceHeadshotCOLOR.jpg" class="headshot-form">
                     </div>
                     <div id="profile-data">
                        <h2 id="profile-name-home">Janice DiVenanzo</h2>
                        <div class ="info-indent"><span style="font-weight: 700;">REMAX Realtor</span></div>
                        <div class="info-indent">LISCENCE # 647619</div>
                        <div class="agency info-indent"><span style="font-weight: 700;">Office Location:</span></div>
                        <div class="address info-indent">13611 Skinner Rd<br> Cypress, TX 77429</div>
                        <div class="mobile info-indent"><span style="font-weight: 700;">Mobile:</span> 713-725-0878</div>
                        <div class="office info-indent"></div>
                     </div>
                  </div>
                  <div id="contact-me-profile">
                     <form id="profile-form" action="php/email.php" method="post">
                        <input class="home-form" type="text" placeholder ="Name" name="name">
                        <input class="home-form" type="email" placeholder="Email Address" name="email">
                        <input class="home-form" type="text" placeholder="Subject" name="subject">
                        <textarea class="home-form" placeholder="Message" name="message"></textarea>
                        <input type="submit" name="submit" id="submit" value="Submit">
                        <!--                        <button class="sendButton" value="send" type="button" onclick="$('#reCaptcha').toggle;">Send</button>
                           -->                      
                     </form>
                  </div>
               </div>
            </section>




input[type ="text"], input[type = "email"], input[type = "password"], textarea, select, button.ui-multiselect {  /*switch these up some? directly copied */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1) inset;
    box-sizing: border-box;
    padding: .5em;
    transition: border .2s ease 0;
    width: 100%;
    margin-bottom: 17px;
    font-size: 1em;
}

input:first-child{    /* targets the Name input (it's the first child of its parent element <form>) */
  margin-top: 10px;
}

textarea {
  height: 200px;
}



#card-form-container {
    box-sizing: border-box;
    min-width: 980px;
    max-width: 1040px;
    padding: 20px;
    position: relative;
    margin: 0 auto 100px auto;
    width: auto;
}

              #profile-image {
                width: 170px;
                height: 220px;
                float: left;
            }


              #profile-data {
                  padding-top: 5px;
                  padding-right: 20px;
                  width: 50%;
                  float: right;
                  text-align: left;
              }

              #profile-name {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-bottom: 10px;
              }

              #profile-name-home {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-top: 0;
              }

              #profile-name-contact {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-top: 15px;
                margin-bottom: 10px;
              }

              .agency {
                margin-top: 15px;
                margin-bottom: 5px;
              }

              .mobile {
               /* text-shadow: .5px .5px 0 #000;*/
                margin-top: 15px;
              }



.card-form-inner {
    margin-top: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    height: 444px;
    background-color: #f5f8fa;
}

#card-container {
    background-color: #f5f8fa;
    width: 50%;
    float: left;
        border-right: 1px solid #ddd;
        box-sizing: border-box;
}

#contact-me-profile { 
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

#profile-form {
  background-color: #f5f8fa;
  float: right;
  width: 50%;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 20px;
}


/* sloppily indents the info in homepage contact card*/
.info-indent {
  margin-left: 20px;
}


/******************************
    Homepage Contact Form
/******************************/

input.home-form, .home-form {       /* temporary home page Contact Form (will later create custom form in shape of house?) */
  font-size: .75em;
  margin-bottom: 10px;
}

textarea.home-form {
  height: 70px;
  margin-bottom: 0;
}

input.home-form:first-child {
  margin-top: 0;
}

.card-form-inner-home {
  padding: 10px;
  border: 1px solid #ddd;
  height: 220px;
  background-color: #f5f8fa;
}