* {
  font-family: 'Raleway', sans-serif;
      font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrap {
  min-height: calc(100vh - 180px);
}


header {
/*  background-color: pink;*/
  background-color: rgba(78, 0, 0, 1);        /*rgba(0, 23, 31, .5) will do for now steel rgba(79, 0, 15, 1) betterer maroon   rgba(62, 0, 12, 1) BETTER maroon (DARK)   rgba(70, 18, 32, .9) maroonish    rgba(149, 144, 168, .6) purple        rgba(255,192,203,1)   (other pink)*/ 
/*  opacity: .6;*/
  height: 328px;   /*160px*/
/*  margin: 0;*/
  padding: 0;
}

/*.headerCyFair {
  display: inline;
  padding: 0;
  float: left;

  margin: 0;
}*/

.headerBalloon {
  display: inline-block;
  position: relative;
  bottom: -30px;
  left: 10px;
/*  float: left;
padding-left: 200px;*/
  width: 200px;
  opacity: .8;
/*  margin-left: 20px;
  margin-top: 20px;*/
}


.main-header-h1 {
  position: relative;
  font-size: 6em;
  left: -70px;
  /*color: rgb(102, 102, 102);*/
  opacity: 1;
  color: #FFFFFA;
  }


nav {
margin-top: 15px;
margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0;
}

li {
  display: inline;
  text-transform: uppercase;

}


a:link {
  text-decoration: none;
  color: #FFFFFA;
}

nav a {
  padding: 0 2px;
}

nav a:visited {
  color: #FFFFFA;
}

nav a.selected, nav a:hover {
  opacity: 1;
  color: #C52233;
  font-weight: regular;
}


/******************************
          Slick Carousel
/*******************************/

.slickSlidesOuter {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
  background-image: linear-gradient(transparent 20%, lightgray, white);
}

.slickSlides {
width: 100%;
}

.slick-dots li button:before{
  position: absolute;
  font-size: 5px;
}

.slides {
  width: 100%;
  height: 100%;
  margin: 0 auto 40px;
  text-align: center;
}

.slide {
  width: 100%;
  height: 100%;
}


.slick-prev:before,
.slick-next:before
{
color: gray;
font-size: 40px;
  }

.slick-slide {
  width: 100%;
  height: auto;
  /*height: 460px;*/
}

.slick-slide img
{


}










.noMargins {
  margin: 0;
}

.noTopMargin {
  margin-top: 0;
}

.noBottomMargin {
  margin-bottom: 0;
}

.headshotForm {
  opacity: .9;
  height: 220px;
  border-radius: 2%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}


.imageScale {
  width: 100%;
  height: auto;
}


/******************************
      Contact Page Form
******************************/
/* Messy looking - will re-design. Perhaps a brief bio of Courtney & Janice with corresponding photos and then the contact form without profile pictures wrapped inside it */

/*main {
  background-color: #f5f8fa;
}*/

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

input[type ="text"], input[type = "email"], input[type = "password"], textarea, select, button.ui-multiselect {  /*switch these up some? directly copied */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1) inset;
    box-sizing: border-box;
    padding: .5em;
    transition: border .2s ease 0;
    width: 100%;
    margin-bottom: 17px;
    font-size: 1em;
}

input:first-child{    /* targets the Name input (it's the first child of its parent element <form>) */
  margin-top: 10px;
}

textarea {
  height: 200px;
}



#cardFormContainer {
    box-sizing: border-box;
    min-width: 980px;
    max-width: 1040px;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    width: auto;
}

              #profileImage {
                width: 170px;
                height: 220px;
                float: left;
            }


              #profileData {
                  padding-top: 5px;
                  padding-right: 20px;
                  width: 50%;
                  float: right;
                  text-align: left;
              }

              #profileName {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
              }

              #profileNameHome {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-top: 0;
              }

              #profileNameContact {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-top: 30px;
              }

              .agency {
                margin-top: 15px;
                margin-bottom: 5px;
              }

              .mobile {
               /* text-shadow: .5px .5px 0 #000;*/
                margin-top: 15px;
              }



.cardFormInner {
    margin-top: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    height: 444px;
}

#cardContainer {
    background-color: #f5f8fa;
    width: 50%;
    float: left;
        border-right: 1px solid #ddd;
        box-sizing: border-box;
}

#contactMeProfile { 
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

#profileForm {
  background-color: #f5f8fa;
  float: right;
  width: 50%;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 20px;
}


/* sloppily indents the info in homepage contact card*/
.infoIndent {
  margin-left: 20px;
}


/******************************
    Homepage Contact Form
/******************************/

input.homeForm, .homeForm {       /* temporary home page Contact Form (will later create custom form in shape of house?) */
  font-size: .75em;
  margin-bottom: 10px;
}

textarea.homeForm {
  height: 80px;
  margin-bottom: 0;
}

input.homeForm:first-child {
  margin-top: 0;
}

.cardFormInnerHome {
  padding: 10px;
  border: 1px solid #ddd;
  height: 220px;
}

.customerReviews {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about {
  margin-top: 200px;
}


/******************************
      HOUSE Shaped Form
******************************/
/*Use Pseudo elements (:after) to try to achieve partial length borders, OR use absolutely positioned divs for each partial border http://stackoverflow.com/questions/8835142/any-way-to-declare-a-size-partial-border-to-a-box 
Consider using SVGs instead of trying to draw it w/ pure CSS. CSS drawing would help your CSS skills but not necessarily the cleanest or proper way */

/*.houseSky {
  position: relative;
  height: 500px;
  width: auto;
  background: #CEDFEF;
  border-bottom: 15px solid black;
}
.houseBody {
  margin: auto;
  width: 375px;
  height: 325px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 15px solid black;
  border-right: 15px solid black;
}*/



/******************************
      Footer/Social Media
******************************/


footer {
  background-color: rgba(78, 0, 0, 1);;
  height: 180px;
  width: 100%;
  color: #FFFFFA;
}

.socialTwitter {
  padding-top: 30px;
  width: 60px;
  height:60px;
  display: inline-block;
  background:transparent url('../media/social/twitterNew2.png') center no-repeat;
}

.socialTwitter:hover {
  background-image: url('../media/social/twitterHoverNew.png');
}

.socialFacebook {
  padding-top: 30px;
  width: 60px;
  height:60px;
  display: inline-block;
  background:transparent url('../media/social/facebookNew2.png') center no-repeat;
}

.socialFacebook:hover {
  background-image: url('../media/social/facebookHoverNew.png');
}



/*.flairBar {
  width: 100%;
  background-color: lightgrey;
  position: relative;
}
*/





/* Media Queries ------------------ */

@media screen and (max-width: 768px) {

  header {
    height: 420px;
  }

  .headerCyFair {
    display: none;
  }

  .headerHouse {
    display: none;
  }

  .headerBalloon {
    display: block;
    margin: 0 auto;
    position: static;
    text-align: center;
  }

  .main-header-h1 {
    position: static;
    font-size: 6em;
    padding-top: 10px;
    }

    .slickSlidesOuter {
    width: 100%;
  } 

  .slick-slide {
    height: auto;
  }

    .slick-slide img {
      max-width:100%;
      height: auto;
      display: block;
  }

}


@media screen and (max-width: 667px) {

  .headerBalloon {
    display: block;
    margin: 0 auto;
    position: static;
    text-align: center;
  }

  .main-header-h1 {
    position: static;
    font-size: 4.5em;
    }

  .slickSlidesOuter {
    width: 100%;
  }

  .slick-slide {
    height: auto;
  }

  .slick-slide img {
    max-width:100%;
    height: auto;
    display: block;
}

  #cardFormContainer {
    display: none;
  }


}
