* {
  font-family: 'Open Sans', sans-serif;     /* raleway was original font */
      font-weight: 300;
}

html,body        /*fix whitespace on right side*/
{
  overflow-x: hidden; 
}

.no-margins {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.headshot-form {
  opacity: .9;
  height: 220px;
  border-radius: 2%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.border {
    display: block;
    width: 80px;
    height: 2px;
    background: #000000;
    margin: 0 auto 43.16px auto;
}

.is-hidden {
  display: none;
}

.steel {
  background-color: rgba(48, 48, 48, 1);
}

.cream {
  color: #FDFFFC;
}




html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body:after {    /* pre-load hover images to avoid first time load delay when hovering over social icons */
 display:none;
 content: url(../media/social/twitterHoverNew.png) url(../media/social/facebookHoverNew.png);
}

.wrap {         
  min-height: calc(100vh - 180px);
}


header {
/*  background-color: pink;*/
  background-color: #FDFFFC;/*rgba(48, 48, 48, 1);*/ /*rgba(78, 0, 0, 1);*/        /*rgba(0, 23, 31, .5) will do for now steel rgba(79, 0, 15, 1) betterer maroon   rgba(62, 0, 12, 1) BETTER maroon (DARK)   rgba(70, 18, 32, .9) maroonish    rgba(149, 144, 168, .6) purple        rgba(255,192,203,1)   (other pink)*/ 
/*  opacity: .6;*/
  height: 100px;   /*160px, 328px*/ 
/*  margin: 0;*/
  padding: 0;
}


.main-header-h1 {
  float: left;
  font-size: 3.5em;
  /*color: rgb(102, 102, 102);*/
  opacity: 1;
  color: rgba(48, 48, 48, 1);/*#FFFFFA;*/
  height: 100px;
}

.header-logo {
  position: relative;
  bottom: 5px;
  left: 3px;
}

.header-title {
  position: relative;
  bottom: 38px;
  left: 18px;
}


nav {
position: relative;
top: 45px;
right: 23px;
font-size: 1.4em;
float: right;
}

ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0;
}

li {
  display: inline;
  text-transform: uppercase;

}


a:link {
  text-decoration: none;
  color: black; /*#FFFFFA;*/
}

nav a {
  padding: 0 8px;
}

nav a:visited {
  color: black;/*#FFFFFA;*/
}

nav a.selected, nav a:hover {
  opacity: 1;
  color: #C52233;
  font-weight: regular;
}

main {
  clear: both;    /* clears float from the flaot:left header */
}


/******************************
          Slick Carousel
/*******************************/

.slickSlidesOuter {
/*  width: 100%;*/
  margin: 0 auto;
  padding-bottom: 70px;
/*  background-image: linear-gradient(transparent 20%, lightgray, white);*/
}

.slickSlides {
/*width: 100%;*/
/*background-size: cover;*/
}

/*.slick-dots li button:before{
  position: absolute;
  font-size: 7px;
}*/

.slides {
 /* width: 100%;*/
/*  height: 100%;*/
  margin: 0 auto 40px;
  text-align: center;
}

.slide {
/*  width: 100%;*/
/*  height: 100%;*/
}

/* -------------------------------------ARROWS */

.slick-prev:before,
.slick-next:before
{
  color: gray;
  font-size: 80px;
  }

.slick-slide {
/*  width: 100%;*/
/*  height: auto;*/
  /*height: 460px;*/
}




.item{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: calc(100vh - 100px);
}

.slideImg1 {
  background-image: url('../media/slickImages/built4RASTERWeb.gif');
}

.slideImg2 {
  background-image: url('../media/slickImages/slickKitchenCropLeftRASTERWeb.gif');


}

.slideImg3 {
  background-image: url('../media/slickImages/BackyardLARGEWeb2.gif');

}




/******************************
      Featured Properties
******************************/

.featured-properties {
  margin-bottom: 100px;
}

.segment-title {
  font-size: 52px;
  letter-spacing: 8px;
  margin-bottom: 12px;
}

.thumb-row {
  margin-top: 20px;
  margin-bottom: 50px;
  display: inline;
}

.thumb-row-1 {
  display: inline;
}

.thumb-row-2 {
  display: inline;
}

.thumb-img {
  width: 25%;
  height: auto;
}

.thumb-img:hover {
  opacity: .7;
/*  background-color: rgba(113, 181, 228, .9);
  background-size: 500px 500px;*/
}


/******************************
      Contact Page Form
******************************/
/* Messy looking - will re-design. Perhaps a brief bio of Courtney & Janice with corresponding photos and then the contact form without profile pictures wrapped inside it */

/*main {
  background-color: #f5f8fa;
}*/

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

input[type ="text"], input[type = "email"], input[type = "password"], textarea, select, button.ui-multiselect {  /*switch these up some? directly copied */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1) inset;
    box-sizing: border-box;
    padding: .5em;
    transition: border .2s ease 0;
    width: 100%;
    margin-bottom: 17px;
    font-size: 1em;
}

input:first-child{    /* targets the Name input (it's the first child of its parent element <form>) */
  margin-top: 10px;
}

textarea {
  height: 200px;
}



#card-form-container {
    box-sizing: border-box;
    min-width: 980px;
    max-width: 1040px;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    width: auto;
}

              #profile-image {
                width: 170px;
                height: 220px;
                float: left;
            }


              #profile-data {
                  padding-top: 5px;
                  padding-right: 20px;
                  width: 50%;
                  float: right;
                  text-align: left;
              }

              #profile-name {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-bottom: 10px;
              }

              #profile-name-home {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-top: 0;
              }

              #profile-name-contact {
                word-wrap: break-word;
                text-align: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-top: 15px;
                margin-bottom: 10px;
              }

              .agency {
                margin-top: 15px;
                margin-bottom: 5px;
              }

              .mobile {
               /* text-shadow: .5px .5px 0 #000;*/
                margin-top: 15px;
              }



.card-form-inner {
    margin-top: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    height: 444px;
    background-color: #f5f8fa;
}

#card-container {
    background-color: #f5f8fa;
    width: 50%;
    float: left;
        border-right: 1px solid #ddd;
        box-sizing: border-box;
}

#contact-me-profile { 
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

#profile-form {
  background-color: #f5f8fa;
  float: right;
  width: 50%;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 20px;
}


/* sloppily indents the info in homepage contact card*/
.info-indent {
  margin-left: 20px;
}


/******************************
    Homepage Contact Form
/******************************/

input.home-form, .home-form {       /* temporary home page Contact Form (will later create custom form in shape of house?) */
  font-size: .75em;
  margin-bottom: 10px;
}

textarea.home-form {
  height: 70px;
  margin-bottom: 0;
}

input.home-form:first-child {
  margin-top: 0;
}

.card-form-inner-home {
  padding: 10px;
  border: 1px solid #ddd;
  height: 220px;
  background-color: #f5f8fa;
}

.customer-reviews {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about {
  margin-top: 200px;
}


/******************************
      HOUSE Shaped Form
******************************/
/*Use Pseudo elements (:after) to try to achieve partial length borders, OR use absolutely positioned divs for each partial border http://stackoverflow.com/questions/8835142/any-way-to-declare-a-size-partial-border-to-a-box 
Consider using SVGs instead of trying to draw it w/ pure CSS. CSS drawing would help your CSS skills but not necessarily the cleanest or proper way */

/*.house-sky {
  position: relative;
  height: 500px;
  width: auto;
  background: #CEDFEF;
  border-bottom: 15px solid black;
}
.house-body {
  margin: auto;
  width: 375px;
  height: 325px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 15px solid black;
  border-right: 15px solid black;
}*/



/******************************
      Footer/Social Media
******************************/


footer {
  background-color: rgba(36, 36, 36, 1); /*48 48 48 1*/
  height: 180px;
  width: 100%;
  color: #FFFFFA;
}

.social-twitter {
  padding-top: 30px;
  width: 60px;
  height:60px;
  display: inline-block;
  background:transparent url('../media/social/twitterNew2.png') center no-repeat;
}

.social-twitter:hover {
  background-image: url('../media/social/twitterHoverNew.png');
}

.social-facebook {
  padding-top: 30px;
  width: 60px;
  height:60px;
  display: inline-block;
  background:transparent url('../media/social/facebookNew2.png') center no-repeat;
}

.social-facebook:hover {
  background-image: url('../media/social/facebookHoverNew.png');
}



/*.flairBar {
  width: 100%;
  background-color: lightgrey;
  position: relative;
}
*/





/* Media Queries ------------------ */

@media screen and (max-width: 1176px) {  /*-------Ipad (768) and narrow desktop*/

  nav {
      display: none;
    }

  header {
    height: 180px;
  }

  .main-header-h1 {
    float: none;
    }

  .header-logo {
    position: static;
  }

  .header-title {
    display: block;
    left: 0;    /* re-set headerTitle's position left alignment to 0 */
    bottom: 30px;
    margin: 0 auto;
  }

  .mobile-nav {
    position: static;
    display: block;
    background-color: #FDFFFC;
    z-index: 1;
    text-align: center;
    width: 100vw;
    height: 40px;
    margin: 0;
    padding: 0;
  }


/* show mobile carousel, hide parallax */
  .slickSlidesOuter {
    display: none;
  }

  .imageScale {
    width: 100%;
    height: auto;
  }

  .slickSlidesMobile {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
    } 

    .slick-slide {
      height: auto;
    }

    .slick-slide img {
      max-width: 100%;
      height: auto;
      display: block;
  }




.thumb-row {

  padding: 0;
  margin: 0;
}

.thumb-row-1 {
  display: block;
  font-size: 0;
}

.thumb-row-2 {
  display: block;
  font-size: 0;
}

.thumb-img {
  width: 50%;
  height: auto;
}



}


@media screen and (max-width: 667px) {      /* -------- Iphone*/

  header {
    height: 140px;
  }

  .main-header-h1 {
    font-size: 2.75em;
    }

  .mobile-nav {
    height: auto;
    font-size: 1em;
    padding: 12px 0 5px 0;
  }

  .slickSlidesOuter {
    width: 100%;
  }

  .slick-slide {
    height: auto;
  }

  .slick-slide img {
    max-width:100%;
    height: auto;
    display: block;
  }

  #card-form-container {
    display: none;
  }


}

@media screen and (max-width: 423px) {  /*--------- Super narrow browser windows **DO THESE MAKE LOAD TIME SLOWER? */

  .main-header-h1 {
    font-size: 2.3em;
  }

  .header-title {
    bottom: 25px;
  }

}
