* {
  font-family: 'Open Sans', sans-serif;     /* raleway was original font */
      font-weight: 300;
}

html,body        /*fix whitespace on right side*/
{
  overflow-x: hidden; 
}

a {
  color: rgba(48, 48, 48, 1);
  text-decoration: none;
}

.clear-both {
  clear: both;
}

.no-margins {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.border-bottom {
  border-bottom: 4px solid rgba(48, 48, 48, .7);
}

.headshot-form {
  opacity: .9;
  height: 220px;
  border-radius: 2%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.inline {
  display: inline;
}

.border {
    display: block;
    width: 80px;
    height: 2px;
    background: #000000;
    margin: 0 auto 43.16px auto;
}

.is-hidden {
  display: none;
}

.steel {
  background-color: rgba(48, 48, 48, 1);
}

.cream {
  color: #FDFFFC;
}

/*Floated CLEARFIX*/
.group:after {
  content: “ “;
  display: table;
  clear: both;
}

.text-align-initial {
  text-align: initial;
}


html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body:after {    /* pre-load hover images to avoid first time load delay when hovering over social icons */
 display:none;
 content: url(../media/social/twitterHoverNew.png) url(../media/social/facebookHoverNew.png);
}

.wrap {         
  min-height: calc(100vh - 80px);
}


header {
/*  background-color: pink;*/
  background-color: #FDFFFC;/*rgba(48, 48, 48, 1);*/ /*rgba(78, 0, 0, 1);*/        /*rgba(0, 23, 31, .5) will do for now steel rgba(79, 0, 15, 1) betterer maroon   rgba(62, 0, 12, 1) BETTER maroon (DARK)   rgba(70, 18, 32, .9) maroonish    rgba(149, 144, 168, .6) purple        rgba(255,192,203,1)   (other pink)*/ 
/*  opacity: .6;*/
  height: 100px;   /*160px, 328px*/ 
/*  margin: 0;*/
  padding: 0;
}


.main-header-h1 {
  float: left;
  font-size: 4em;
  /*color: rgb(102, 102, 102);*/
  opacity: 1;
  color: rgba(48, 48, 48, 1);/*#FFFFFA;*/
  height: 100px;
}

.header-logo {
  position: relative;
  bottom: 5px;
  left: 3px;
}

.header-title {
  position: relative;
/*  bottom: 38px;*/
  left: 15px;
  overflow: hidden;
}


nav {
position: relative;
top: 45px;
right: 23px;
font-size: 1.65em;
float: right;
}

ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0;
}

li {
  display: inline;
  text-transform: uppercase;

}


a:link {
  text-decoration: none;
  color: black; /*#FFFFFA;*/
}

nav a {
  padding: 0 8px;
}

nav a:visited {
  color: black;/*#FFFFFA;*/
}

nav a.selected, nav a:hover {
  opacity: 1;
  color: #C52233;
  font-weight: regular;
}

main {
  clear: both;    /* clears float from the flaot:left header */
}


/******************************
          Slick Carousel
/*******************************/

.slickSlidesOuter {
/*  width: 100%;*/
  margin: 0 auto;
  padding-bottom: 70px;
/*  background-image: linear-gradient(transparent 20%, lightgray, white);*/
}

.slickSlidesOuter-review {
/*  width: 100%;*/
  margin: 0 auto 100px auto;
  padding-bottom: 70px;
/*  background-image: linear-gradient(transparent 20%, lightgray, white);*/
}

.slickSlides {
/*width: 100%;*/
/*background-size: cover;*/
}

/*.slick-dots li button:before{
  position: absolute;
  font-size: 7px;
}*/

.slides {
 /* width: 100%;*/
/*  height: 100%;*/
  margin: 0 auto 40px;
  text-align: center;
}

.slide {
/*  width: 100%;*/
/*  height: 100%;*/
}

/********* ARROWS *********/

.slick-prev,
.slick-next {
  width: auto;
  height: auto;
}

.slick-next {
  right: 2px;
}

.slick-prev:before,
.slick-next:before
{
  color: gray;
  font-size: 80px;

  }



.slick-slide {
/*  width: 100%;*/
/*  height: auto;*/
  /*height: 460px;*/
}

.carousel-menu {
  font-size: 1.8em;
}

.carousel-menu div{
  background-color: rgba(232, 230, 220, 1);
/*  background-color: rgba(0, 0, 0, .1);*/
/*  background-color: rgba(220, 220, 210, .9);*/

  border-left: 1px solid #fff;
  padding: 0;
  height: 80px;
  line-height: 80px;    /* allows you to put vertical-align: center; on your anchors */
}

.carousel-menu div:first-child{
  border-left: 0;
}


.carousel-menu a {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: center;
}

.carousel-menu a:hover {
/*  padding: 0 16.5%;*/
  color: #C52233;
/*  font-weight: bolder;*/
  background-color: rgba(192, 191, 182, 1);
}



.cover{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: calc(100vh - 180px);
}

.slideImg1 {
  background-image: url('../media/slickImages/slick-image-1.jpg');
}

.slideImg2 {
  background-image: url('../media/slickImages/slick-image-2.jpg');


}

.slideImg3 {
  background-image: url('../media/slickImages/slick-image-3.jpg');

}




/******************************
      Featured Properties
******************************/

.featured-properties {
  margin-bottom: 100px;
}

.segment-title {
  font-size: 52px;
/*  line-height: 40px;*/
  letter-spacing: 8px;
  margin-bottom: 12px;
}

.thumb-row {
  margin-top: 20px;
  margin-bottom: 50px;
  display: inline;
}

.thumb-row-1 {
  display: inline;
}

.thumb-row-2 {
  display: inline;
}



.thumb-img {
  width: 25%;
  height: auto;
}

.thumb-img:hover {
  opacity: .7;
       transition: all 0.6s; 
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
/*  background-color: rgba(113, 181, 228, .9);
  background-size: 500px 500px;*/
}

.featured-row {
/*  position: relative;*/
  height: 100%;
}

.featured-thumb {
    display: table;
    background-size: cover;
    width: 101%;
    overflow: hidden;
}

.featured-thumb a {
    height: 360px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    color: black;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s
}

.featured-thumb a:hover {
    opacity: 1;
    text-decoration: none;
}

/*main {
  background-color: #f5f8fa;
}*/

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.reviews-title {
  background-color: rgba(232, 230, 220, 1);
  font-size: 3em;
  position: relative;
  top: 60px;
  padding-top: 15px;
  z-index: 2;
}

.reviewSlides {
  /*height: 300px;*/
}

.review-slide {
  height: 300px;
  /*line-height: 30px;*/
  background-color: rgba(232, 230, 220, 1);
  font-size: 1.5em;
  /*vertical-align: center;*/
  /*padding-top: 100px;*/
}

.review-frame {
  width: 80vw;
  margin: 100px auto 0 auto;
}

.review {
  display: inline-block;
}

.review-signature {
  display: block;
  margin-top: 15px;
  margin-left: 150px;
  font-weight: bolder;
  font-size: .8em;
}

#card-form-container {
  margin-top: 100px;
  font-size: 3em;
}

.about-courtney {
  width: 100vw;
  height: 398px;
  line-height: 398px;
  /*background-color: rgba(232, 230, 220, 1);*/
  background-image: linear-gradient(to left, rgba(232, 230, 220, 1), rgba(255, 255, 255, 1));
  margin-bottom: 50px;
}

.about-janice {
  clear: right;
  width: 100vw;
  height: 398px;
  line-height: 398px;
  /*background-color: rgba(232, 230, 220, 1);*/
  background-image: linear-gradient(to right, rgba(232, 230, 220, 1), rgba(255, 255, 255, 1));
  margin-bottom: 50px;
}

.about-headshot-courtney {
  float: right; /* clear nxt element! */
}

.about-headshot-janice {
  float: left;  /* clear nxt element! */
}

.about-headshot-sample {
  background-image: url("../media/headshot-sample-cropped.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
        min-height: 50vw;
        width: 100%;
        margin-bottom: 50px;
/*  min-width: 100vw;*/
/*  width: 100vw;
  height: 1000px;*/
  /*line-height: 1000px;*/
/*  margin-bottom: 100px;*/
}

.about-container {
/*  display: inline-block;*/
  position: relative;
  top: 18vw;/*300px;*/
  left: -30px;
  float: right;
  font-size: 3vw;
  /*padding: 40px 20px;*/
  max-width: 60vw;
  padding: 0 20px;
  background-color: rgba(255, 245, 253, .1);  /*2C302E **0B132B **1C2541 89, 101, 111, .9*/
  border-radius: 15px;
}

.about-content {
  font-size: 2.4em;
}


.cma-main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cma-form {
  background-color: rgba(211,211,211, .5);
  border-radius: 1%;
}

.cma-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 55px;
}

.cma-title h3 {
  line-height: 35px;
  font-weight: lighter;
}


.form-cma-margins{
  width: 70%;
  margin: 0 auto 100px auto;
/*  display: table;*/
/*    margin-right: -15px;
  margin-left: -15px;*/

}

.listings-main {
  margin-top: 25px;
}

.spiffy {
  margin-left: 15px;
  margin-right: 15px;
}

/******************************
      HOUSE Shaped Form
******************************/
/*Use Pseudo elements (:after) to try to achieve partial length borders, OR use absolutely positioned divs for each partial border http://stackoverflow.com/questions/8835142/any-way-to-declare-a-size-partial-border-to-a-box 
Consider using SVGs instead of trying to draw it w/ pure CSS. CSS drawing would help your CSS skills but not necessarily the cleanest or proper way */

/*.house-sky {
  position: relative;
  height: 500px;
  width: auto;
  background: #CEDFEF;
  border-bottom: 15px solid black;
}
.house-body {
  margin: auto;
  width: 375px;
  height: 325px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 15px solid black;
  border-right: 15px solid black;
}*/



/******************************
      Footer/Social Media
******************************/


footer {
  background-color: rgba(36, 36, 36, 1); /*48 48 48 1*/
  height: 80px;
  width: 100%;
  color: #FFFFFA;
}


.social-twitter {
  margin-top: 10px;
  width: 60px;
  height:60px;
  display: inline-block;
  background:transparent url('../media/social/twitterNew2.png') center no-repeat;
}

.social-twitter:hover {
  background-image: url('../media/social/twitterHoverNew.png');
}

.social-facebook {
  width: 60px;
  height:60px;
  display: inline-block;
  background:transparent url('../media/social/facebookNew2.png') center no-repeat;
}

.social-facebook:hover {
  background-image: url('../media/social/facebookHoverNew.png');
}



/*.flairBar {
  width: 100%;
  background-color: lightgrey;
  position: relative;
}
*/





/* Media Queries ------------------ */

@media screen and (max-width: 1340px) {  /*--------- Narrow browser windows */

    nav {
      display: none;
    }

    header {
      height: 180px;
    }

    .main-header-h1 {
      float: none;
      }

    .header-logo {
      display: block;
      margin: 0 auto;
    }

      .header-title {
      display: block;
      text-align: center;
      position: static;
      margin-top: -8px;
    }

    .mobile-nav {
      position: static;
      display: block;
      background-color: #FDFFFC;
      z-index: 1;
      text-align: center;
      width: 100vw;
      height: 40px;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }

    /* show mobile carousel, hide parallax */
    .slickSlidesOuter {
      display: none;
    }

    .imageScale {
      width: 100%;
      height: auto;
    }

    .slickSlidesMobile {
      display: inline-block;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 70px;
      } 

  /*    .slick-slide {
        height: auto;
      }*/

      .slick-slide img {
        max-width: 100%;
  /*      height: auto;*/
        display: block;
    }

    .cma-main {
      margin-top: 90px;
    }
}






@media screen and (max-width: 1176px) {  /*-------Ipad (768) and narrow desktop*/

  nav {
      display: none;
    }

  header {
    height: 180px;
  }

  .main-header-h1 {
    float: none;
    }

  .header-logo {
    position: static;
  }

  .header-title {
    display: block;
    left: 0;    /* re-set headerTitle's position left alignment to 0 */
    bottom: 30px;
    margin: 0 auto;
  }

/*  .mobile-nav {
    position: static;
    display: block;
    background-color: #FDFFFC;
    z-index: 1;
    text-align: center;
    width: 100vw;
    height: 40px;
    margin: 0;
    padding: 0;
  }*/




  .carousel-menu {
    font-size: 1.6em;
  }



.thumb-row {

  padding: 0;
  margin: 0;
}

.thumb-row-1 {
  display: block;
  font-size: 0;
}

.thumb-row-2 {
  display: block;
  font-size: 0;
}

.thumb-img {
  width: 50%;
  height: auto;
}



}


@media screen and (max-width: 908px) {      /* -------- Optimize .carousel-menu font size*/
  .carousel-menu {
    font-size: 1.45em;
  }
}

@media screen and (max-width: 767px) {      /* -------- Bootstrap 'extra small' breakpoint*/


.slick-next {
  right: 0;
}

.slick-prev:before,
.slick-next:before
{
  font-size: 40px;

  }

  .carousel-menu {
    margin-bottom: 200px;
  }

  .carousel-menu a {
    border-bottom: 1px solid white;
  }

  .segment-title {
    font-size: 2em; /* fallback */
    font-size: 6.5vw;
  }
}



@media screen and (max-width: 667px) {      /* -------- Iphone*/

  header {
    height: 140px;
  }

  .header-title {
    font-size: 9em; /* fallback */
    font-size: 9vw;
    margin-top: -14px;
    }

  .mobile-nav {
    height: auto;
    font-size: 1.4em;
    margin-top: 10px;
    padding: 12px 0 5px 0;
  }

  .slickSlidesOuter {
    width: 100%;
  }

  .slick-slide img {
    max-width:100%;
/*    height: auto;*/
    display: block;
  }


}

                                                        @media screen and (max-width: 517px) {  /*--------- Super narrow browser windows **DO THESE MAKE LOAD TIME SLOWER? */

                                                          .header-title {
                                                            margin-top: -5px;
                                                          }

                                                          .mobile-nav {
                                                            font-size: 1.1em;
                                                          }

                                                          .segment-title {
                                                            line-height: 40px;
                                                          }


                                                        }
